:root {
  --background-color: #333;
  --text-color: #ffffff;
  --accent-color: #333;
  --accent-color-light: #414141;
  --font-family: 'Quicksand', sans-serif;
}

body {
  font-family: var(--font-family);
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, var(--background-gradient));
  background-size: 100%;
  margin: 0 auto;
  overflow-y: auto;
  color: var(--text-color);
}

.settings-container {
  padding-top: 100px;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  box-sizing: border-box;
}

.panel {
  background-color: var(--accent-color);
  border-radius: 8px;
  padding: 20px;
  color: #b7b7b7;
  margin: 0.5%;
  display: table;
  box-sizing: border-box;
  width: 48%;
  font-family: Arial;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.panel label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--text-color);
}

.panel input,
.panel select,
.panel button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.panel button {
  background-color: var(--accent-color-light);
  border: none;
  color: var(--text-color);
  cursor: pointer;
  margin-bottom: 20px;
}

.panel button:hover {
  background-color: #666;
}

input,
select {
  background: var(--background-color);
  color: var(--text-color);
}

input:focus,
select:focus {
  background-color: var(--accent-color-light);
}

@media (max-width: 768px) {
  .panel {
    width: 100%;
  }
}

.nav-item {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  transition: top 0.3s ease-in-out;
}

.nav-item.searched {
  top: -60px;
  transition: top 0.3s ease-in-out;
}

.nav-item.searched:hover {
  top: 0;
}

.shadow-navbar {
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 10vh;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
  border-bottom: 2px solid #4510697a;
  background-color: rgba(0, 0, 0, 0.288);

}

.shadow-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.shadow-navbar li {
  margin: 0 5px;
}

.shadow-navbar a {
  color: var(--icon-color);
  text-decoration: none;
  display: flex;
  width: 9vw;
  margin: 0px 2px 0px 2px;
  align-items: center;
  padding: 8px 15px;
  border-radius: 10px;
  transition: background-color 0.3s;
  font-weight: bold;
}

.shadow-navbar a span {
  display: none;
  transition-property: display, opacity, max-height;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-behavior: allow-discrete;
}

.shadow-navbar a:hover span {
  display: block;
  opacity: 1;
  @starting-style {
    opacity: 0;
  }
}

.shadow-navbar a:not(:hover) span {
  display: none;
  opacity: 0;
}


li.nav-item {
  display: inline-block;
  cursor: pointer !important;
}

li.nav-item a {
  display: block;
  transition: all 0.25s;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

li.nav-item a:hover {
  background-color: #444;
  border-radius: 15px;
}
